asgiref==3.7.2
astutils==0.0.4
boto3==1.28.3
botocore==1.31.3
certifi==2023.5.7
charset-normalizer==3.1.0
dd==0.5.7
Django==4.2.3
django-stdimage==6.0.1
django-storages==1.13.2
docutils==0.20.1
idna==3.4
jmespath==1.0.1
Kivy==2.2.0
kivy-deps.angle==0.3.3
kivy-deps.glew==0.3.1
kivy-deps.sdl2==0.6.0
Kivy-Garden==0.1.5
kivymd==1.1.1
mpmath==1.3.0
networkx==3.1
numpy==1.24.3
Pillow==10.0.0
ply==3.10
psutil==5.9.5
pydot==1.4.2
pygame==2.3.0
Pygments==2.15.1
pyparsing==3.0.9
pypiwin32==223
python-dateutil==2.8.2
pywin32==306
requests==2.31.0
s3transfer==0.6.1
six==1.16.0
sqlparse==0.4.4
sympy==1.12
tk==0.1.0
tzdata==2023.3
urllib3==1.26.16
